# vim: ft=zsh
{{- if eq .chezmoi.os "linux" }}

export LC_ALL="en_US.UTF-8"

# Snapd
if [ -f /etc/profile.d/apps-bin-path.sh ]; then
    . /etc/profile.d/apps-bin-path.sh
fi
{{- end }}

export ZSH="${HOME}/.oh-my-zsh"
# Customization
# https://github.com/ohmyzsh/ohmyzsh/wiki/Customization
export ZSH_CUSTOM="${HOME}/.config/zsh/custom"

plugins=(
  aliases
  asdf
  direnv
  fzf-tab
  git
  starship
  tmux
  vi-mode
  zsh-autosuggestions
  zsh-syntax-highlighting
  my_tmux
)

source ${ZSH}/oh-my-zsh.sh

# Loading custom ZSH config files
for ZSH_CONFIG_FILE in ${HOME}/.zsh.d/*; do
    source "${ZSH_CONFIG_FILE}"
done
