# vim: filetype=gitconfig

[user]
	name = {{ .name }}
	email = {{ .email }}
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[core]
	trustctime = false
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
{{- if eq .chezmoi.os "darwin" }}
[url "ssh://git@github.com/"]
; [url "git@github.com:"]
	insteadOf = https://github.com/
{{- end }}
[merge]
	tool = vimdiff
	conflictStyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
