return {
	"AstroNvim/astrocommunity",
	-- Themes
	{ import = "astrocommunity.colorscheme.dracula-nvim" },
	-- Bufferline
	{ import = "astrocommunity.bars-and-lines.bufferline-nvim" },
	-- Languages/Framework/etc Packs
	{ import = "astrocommunity.pack.bash" },
	{ import = "astrocommunity.pack.docker" },
	{ import = "astrocommunity.pack.go" },
	{ import = "astrocommunity.pack.json" },
	{ import = "astrocommunity.pack.yaml" },
{{- if eq .chezmoi.os "darwin" }}
	{ import = "astrocommunity.pack.html-css" },
	{ import = "astrocommunity.pack.lua" },
	{ import = "astrocommunity.pack.markdown" },
	{ import = "astrocommunity.pack.nix" },
	{ import = "astrocommunity.pack.python" },
	{ import = "astrocommunity.pack.rust" },
	{ import = "astrocommunity.pack.tailwindcss" },
	{ import = "astrocommunity.pack.terraform" },
	{ import = "astrocommunity.pack.toml" },
	{ import = "astrocommunity.pack.typescript-all-in-one" },
	-- Completion
	{ import = "astrocommunity.completion.copilot-lua-cmp" },
{{- end }}
}
