# vim: ft=zsh

# Bat - a cat clone with wings
# https://github.com/sharkdp/bat
if which bat >/dev/null; then
  alias cat='bat'
fi

# aws-vault
if which aws-vault >/dev/null; then
  alias av-exec='aws-vault exec $AWSVAULT --duration=${AWSVAULT_DURATION:-1h} -- '
  alias av-creds='aws-vault exec $AWSVAULT --duration=1h -- env |grep ^AWS_ |while read line; do echo export "$line"; done'
  alias av-login='aws-vault login $AWSVAULT'
fi

if which gron >/dev/null; then
  alias ungron='gron --ungron'
fi
{{- if eq .chezmoi.os "darwin" }}

# GNU base64
if which gbase64 >/dev/null; then
  alias base64='gbase64'
fi
{{- end }}
